xterm*faceName: Cascadia Code
xterm*faceSize: 16
xterm*selectToClipboard: true
! hard contrast: *background: #1d2021
xterm*background: #1a1b26
! soft contrast: *background: #32302f
xterm*foreground: #a9b1d6
! Black + DarkGrey
xterm*color0:  #32344a
xterm*color8:  #444b6a
! DarkRed + Red
xterm*color1:  #f7768e
xterm*color9:  #ff7a93
! DarkGreen + Green
xterm*color2:  #9ece6a
xterm*color10: #b9f27c
! DarkYellow + Yellow
xterm*color3:  #e0af68
xterm*color11: #ff9e64
! DarkBlue + Blue
xterm*color4:  #7aa2f7
xterm*color12: #7da6ff
! DarkMagenta + Magenta
xterm*color5:  #ad8ee6
xterm*color13: #bb9af7
! DarkCyan + Cyan
xterm*color6:  #449dab
xterm*color14: #0db9d7
! LightGrey + White
xterm*color7:  #787c99
xterm*color15: #acb0d0
