window.bar {
    background-color: rgba(30, 30, 46, 0.9);
    color: @theme_fg_color;
}

button {
    background: rgba(0,0,0,0);
}

.clocktwo {
    margin: 0px;
    padding:0px;
    padding-top: 20px;
    border: 0px;
    padding-bottom: 20px;
}

.workspaces {
    margin-top: 10px;
    margin-right: 2px;
}

.battery {
    margin-top: 0px;
}

.sys {
    margin-bottom: 10px;
}


.message {
    font-size: 48pt;
    margin-left: 70px;
    margin-bottom: 10px;
}

.brightness {
    margin-bottom: 15px;
}

.volume {
    margin-bottom: 5px;
    margin-top: 15px;
}

.dash {
    background-color: rgba(30,30,46,1);
    padding: 25px;
}


.player {
    min-width: 250px;
    margin-bottom: 20px;
}

.player .img {
    min-width: 50px;
    min-height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-right: 15px;
}

.player .title {
    font-size: 12pt;
    margin-bottom: 0px;
}

.player .artist {
    font-size: 10pt;
    margin-bottom: 5pt;
    color: @insensitive_fg_color;
}

.player scale.position {
    padding: 0;
    margin-bottom: .3em;
}

trough {
    min-height: 8px;

}

.player scale.position highlight {
    background-color: @theme_fg_color;
}

slider {
    padding: 0px;
    margin-bottom: .3em;
    all: unset;
}

scale {
    padding: 7px;
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
}

.player button.play-pause {
    margin: 0 .3em;
}

.clock {
    margin: 0px;
    padding-top: 0px;
    font-size: 28pt;
    margin-bottom: 0px;
}

.search-entry {
    font-size: 10pt;
}

.app-title {
    margin-left: 10px;
}

.search{
    outline-width: 0px;
}

.date {
    font-size: 15pt;
    margin-bottom: 20pt;
}
