
window.bar {
    background-color: @bg;
    border-radius: 8px 8px 0px 0px;
}

box.bar {
    padding: 0px 0px 0px 0px;
    min-height: 40px;
}

.widget {
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}

