box.dash {
    background-color: @bg;
    min-width: 300px;
    min-height: 500px;
    border-radius : 0px 8px 8px 0px;
    padding: 20px;
}

box.dash-widget {
    background-color: @bg1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.dash-title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dash-inner-widget {
    background-color: @bg1;
    padding: 5px 0px 5px 0px;
    margin: 0px 5px 0px 5px;
    border-radius: 8px;
    min-width: 250px
}
