box.launcher {
    background-color: @bg;
    min-width: 340px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
}

entry.launcher {
    background-color: @bg;
    box-shadow: none;
    border: none;
    font-size: 14pt;
    font-weight: bold;
}
